{% extends "base.html" %}
{% block content %}
<h2>👥 Lista de Usuarios</h2>
<table border="1" cellpadding="6">
    <tr>
        <th>Nombre de usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.is_staff|yesno:"Administrador,Operario" }}</td>
        <td><a href="{% url 'cambiar-rol' usuario.pk %}">Cambiar Rol</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'home' %}">← Volver al menú</a>
{% endblock %}
